:root {
  --dark:  #264059;
  --white: #E8E8E8;
  --highlight: #ff8f00;
}

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  color: var(--dark);
}

body {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--white);
  width: 100%;
}

.header {
  height: 100vh;
  display: grid;
  grid-column: span 1;
}

.showcase {
  display: grid;
  justify-self: center;
  align-self: center;
}

.links {
  display: grid;
}

.links i {
  font-size: 2rem;
}

.showcase h1 {
  font-size: 3rem;
  text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--dark);
    margin: 1em 0;
    padding: 0;
}

.showcase p {
  text-align: center;
}

.section {
  display: grid;
  grid-gap: 1rem;
  margin: 2rem;
}

.content {
}

.section .title {
  font-size: 2rem;
  color: var(--dark);
  font-weight: bold;
}

.section p {
  color: var(--dark);
}

hr {
  border-color: var(--highlight);
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
}


.content-title {
  font-weight: bolder;
  font-size: 1.25rem;
}

.content-title:hover {
  cursor: pointer;
}

.content .edu-list {
  overflow: hidden;
  max-height: 0rem;
  transition: max-height 0.5s ease;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  max-width: 80vw;
}

.content li {
  padding: 0.5rem;
}

.content-info {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
}


.links i:hover {
  color: var(--highlight);
}

.content:hover i {
  transform: rotate(90deg);
  transition-duration: 0.2s;
}

.content i {
  font-size: 1rem;
  padding: 0.5rem;
}

.bold {
  font-weight: bolder;
}

.wide {
  grid-column: span 2;
}

.tech-logo {
  width: 100%;
}

.logo-container {
  position: relative;
}

.logo-overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark);
  opacity: 0;
  transition: .5s;
}

.logo-overlay p {
  color: var(--white);
  justify-self: center;
  align-self: center;
  font-size: 1.25rem;
}

@media (max-width:870px) {
  .content-container {
    grid-template-columns: 1fr;
  }
}
